.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo, .orangeButton {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  background-color: black;
  color: white;
}

h1 {
  padding: .1rem;
  margin: 0;
}

.orangeButton {
  position: fixed;
  cursor: pointer;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 20;
}

.overlayContent img,
.orangeButton img {
  height: 100%;
  width: 100%;
}

.youTubeStyle {
  position: fixed;
  top: 41px;
  left: 0,; 
  bottom: 0; 
  right: 0;
  width: 100%;
  height: 100%; 
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 10;
}

.overlayContainer {
  position: fixed;
  top: 0;
  left: 0,; 
  bottom: 0; 
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 30;
  background-color: rgba(0,0,0,0.5);
}

.overlayContent {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.overlayImageContainer {
  position: relative;
  width: 150px;
  height: 150px;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}